.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: var(--content-width);
    width: 100%;
    height: calc(100vh - 100px);
    background-color: var(--color-content-background);
    box-shadow: 0px 7px 10px rgba(255, 149, 149, 0.25);

    &-url-creater{
        display: flex;
        flex-direction: row;
        width: 80%;
        span{
            margin: -14px auto;
            color: rgb(226, 35, 35);
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 28px;
        }
    }
}