.header {
    backdrop-filter: blur(5px);
    background-color: var(--color-coral);
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0px 7px 7px 1px rgba(255, 80, 80, 0.25);
    
    .header-content{
        align-items: center;
        display: flex;
        //justify-content: space-between;
        height: 100%;
        margin: 0 auto;
        max-width: var(--content-width);
    }


    b{  
        color: #ffffff;
        font-weight: 700;
        letter-spacing: -0.5px;
        font-size: var(--font-size-l);
        -webkit-text-stroke: 1.8px black;
    }

    img{
        height: 100%;
        margin-left: 10px;
    }
}